.contador input{
    font-size: 1.1rem;
    width: 50px;
}

.contador button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30%;
    font-size: 1.6rem;
}